extends ../layout

block content
    div.row
        div.row-md-8
            h1.
                #{title}
            table.table
                tr
                    th Name
                    th Edit 
                    th Show 
                - each blob, i in blobs
                    tr
                        td
                            = blob.name
                        td 
                            a.btn.btn-info(href='/blobs/#{blob._id}/edit') Edit
                        td
                            a.btn.btn-info(href='/blobs/#{blob._id}') Show