extends layout

block content
  h1 Christmas List Submissions
    br
    br
    a.btn.btn-primary(href='/blobs/new') Add A Christmas List Submission
    br
    br
    a.btn.btn-primary(href='/blobs') View All List Submissions
